newAds/adsws.wsdl

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReturnAdByID">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="AdID" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnAdByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ReturnAdByIDResult" type="tns:ArrayOfAD"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAD">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Ad" nillable="true" type="tns:Ad"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ad">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="AdText" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="AdID" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="AdAreaID" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="CategoryID" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="AdSiteID" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="ReturnAds">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="IDCategory" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="IDArea" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="startNumber" type="s:int"/>
            <s:element maxOccurs="1" minOccurs="1" name="howMany" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnAdsResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ReturnAdsResult" type="tns:ArrayOfAD"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnCategory">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="CategoryIDParam" type="s:int"/>
            <s:element maxOccurs="1" minOccurs="1" name="countShow" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ReturnCategoryResult" type="tns:ArrayOfAdCategory"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAdCategory">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="AdCategory" nillable="true" type="tns:AdCategory"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdCategory">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="IDCategory" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="CategoryDescription" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="IDFather" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="countCateg" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="ReturnArea">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="AreaIDParam" type="s:int"/>
            <s:element maxOccurs="1" minOccurs="1" name="countShow" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnAreaResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ReturnAreaResult" type="tns:ArrayOfArea"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArea">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="Area" nillable="true" type="tns:Area"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Area">
        <s:sequence>
          <s:element maxOccurs="1" minOccurs="0" name="AreaName" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="AreaID" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="AreaParent" type="s:string"/>
          <s:element maxOccurs="1" minOccurs="0" name="countArea" type="s:string"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReturnAdByIDSoapIn">
    <wsdl:part element="tns:ReturnAdByID" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ReturnAdByIDSoapOut">
    <wsdl:part element="tns:ReturnAdByIDResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ReturnAdsSoapIn">
    <wsdl:part element="tns:ReturnAds" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ReturnAdsSoapOut">
    <wsdl:part element="tns:ReturnAdsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ReturnCategorySoapIn">
    <wsdl:part element="tns:ReturnCategory" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ReturnCategorySoapOut">
    <wsdl:part element="tns:ReturnCategoryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ReturnAreaSoapIn">
    <wsdl:part element="tns:ReturnArea" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ReturnAreaSoapOut">
    <wsdl:part element="tns:ReturnAreaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="ReturnAdByID">
      <wsdl:input message="tns:ReturnAdByIDSoapIn"/>
      <wsdl:output message="tns:ReturnAdByIDSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ReturnAds">
      <wsdl:input message="tns:ReturnAdsSoapIn"/>
      <wsdl:output message="tns:ReturnAdsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ReturnCategory">
      <wsdl:input message="tns:ReturnCategorySoapIn"/>
      <wsdl:output message="tns:ReturnCategorySoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ReturnArea">
      <wsdl:input message="tns:ReturnAreaSoapIn"/>
      <wsdl:output message="tns:ReturnAreaSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ReturnAdByID">
      <soap:operation soapAction="http://tempuri.org/ReturnAdByID" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnAds">
      <soap:operation soapAction="http://tempuri.org/ReturnAds" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCategory">
      <soap:operation soapAction="http://tempuri.org/ReturnCategory" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnArea">
      <soap:operation soapAction="http://tempuri.org/ReturnArea" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ReturnAdByID">
      <soap12:operation soapAction="http://tempuri.org/ReturnAdByID" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnAds">
      <soap12:operation soapAction="http://tempuri.org/ReturnAds" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCategory">
      <soap12:operation soapAction="http://tempuri.org/ReturnCategory" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnArea">
      <soap12:operation soapAction="http://tempuri.org/ReturnArea" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port binding="tns:Service1Soap" name="Service1Soap">
      <soap:address location="http://ads.salampasis.gr/Service1.asmx"/>
    </wsdl:port>
    <wsdl:port binding="tns:Service1Soap12" name="Service1Soap12">
      <soap12:address location="http://ads.salampasis.gr/Service1.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
